@import "core";

body {
	background: white;
}
.body-container{
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #ccc;
	height: 340px;
	background: #fff3f3;
}
.center-body{
  width: 70%;
	margin: 0 auto;
	h1 {
	    font-size: 53px;
	    color: #555;
	    font-weight: lighter;
	    text-align: center;
	    margin-top: 85px;
	}
	h2 {
		font-weight: lighter;
		text-align: center;
	}
	.login-button{
		font-weight: normal;
		font-family: "Open Sans", verdana;
	    background: url('https://assets-cdn.github.com/pinned-octocat.svg'), linear-gradient(#fff,#eee);
	    background-repeat: no-repeat;
	    border-radius: 22px;
	    font-size: 14px;
	    padding: 10px;
	    padding-left: 43px;
	    border: 1px solid #aaa;
      -webkit-outline: none;
      outline: none;
	    cursor: pointer;
	    &:active{
	    	-webkit-outline: none;
	    	outline: none;
        background: url('https://assets-cdn.github.com/pinned-octocat.svg'), linear-gradient(#eee,#ccc);
        background-repeat: no-repeat;  
	    }
	}
	.login-buttons{
		text-align: center;
	}
}